* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

.container-sm {
  width: 100%;
  max-width: 540px;
  margin:0 auto;
}

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.box {
  min-height: 200px;
  background-color: pink;
  border:1px solid black;
  text-align: center;
  line-height: 200px;
}

.col-sm-1 {
  max-width: calc((100% / 12)*1);
  flex-basis:calc((100% / 12)*1);
}
.col-sm-2 {
  max-width: calc((100% / 12)*2);
  flex-basis:calc((100% / 12)*2);
}
.col-sm-3 {
  max-width: calc((100% / 12)*3);
  flex-basis:calc((100% / 12)*3);
}
.col-sm-4 {
  max-width: calc((100% / 12)*4);
  flex-basis:calc((100% / 12)*4);
}
.col-sm-5 {
  max-width: calc((100% / 12)*5);
  flex-basis:calc((100% / 12)*5);
}
.col-sm-6 {
  max-width: calc((100% / 12)*6);
  flex-basis:calc((100% / 12)*6);
}
.col-sm-7 {
  max-width: calc((100% / 12)*7);
  flex-basis:calc((100% / 12)*7);
}
.col-sm-8 {
  max-width: calc((100% / 12)*8);
  flex-basis:calc((100% / 12)*8);
}
.col-sm-9 {
  max-width: calc((100% / 12)*9);
  flex-basis:calc((100% / 12)*9);
}
.col-sm-10 {
  max-width: calc((100% / 12)*10);
  flex-basis:calc((100% / 12)*10);
}
.col-sm-11 {
  max-width: calc((100% / 12)*11);
  flex-basis:calc((100% / 12)*11);
}
.col-sm-12 {
  max-width: calc((100% / 12)*12);
  flex-basis:calc((100% / 12)*12);
}