@media screen and (min-width:768px) {

  .container-sm {
    width: 780px;
    max-width: 780px;
    margin:0 auto;
  }


  .col-md-1 {
    max-width: calc((100% / 12)*1);
    flex-basis:calc((100% / 12)*1);
  }
  .col-md-2 {
    max-width: calc((100% / 12)*2);
    flex-basis:calc((100% / 12)*2);
  }
  .col-md-3 {
    max-width: calc((100% / 12)*3);
    flex-basis:calc((100% / 12)*3);
  }
  .col-md-4 {
    max-width: calc((100% / 12)*4);
    flex-basis:calc((100% / 12)*4);
  }
  .col-md-5 {
    max-width: calc((100% / 12)*5);
    flex-basis:calc((100% / 12)*5);
  }
  .col-md-6 {
    max-width: calc((100% / 12)*6);
    flex-basis:calc((100% / 12)*6);
  }
  .col-md-7 {
    max-width: calc((100% / 12)*7);
    flex-basis:calc((100% / 12)*7);
  }
  .col-md-8 {
    max-width: calc((100% / 12)*8);
    flex-basis:calc((100% / 12)*8);
  }
  .col-md-9 {
    max-width: calc((100% / 12)*9);
    flex-basis:calc((100% / 12)*9);
  }
  .col-md-10 {
    max-width: calc((100% / 12)*10);
    flex-basis:calc((100% / 12)*10);
  }
  .col-md-11 {
    max-width: calc((100% / 12)*11);
    flex-basis:calc((100% / 12)*11);
  }
  .col-md-12 {
    max-width: calc((100% / 12)*12);
    flex-basis:calc((100% / 12)*12);
  }
}



@media screen and (min-width:992px) {

  .container-sm {
    width: 1200px;
    max-width: 1200px;
    margin:0 auto;
  }


  .col-lg-1 {
    max-width: calc((100% / 12)*1);
    flex-basis:calc((100% / 12)*1);
  }
  .col-lg-2 {
    max-width: calc((100% / 12)*2);
    flex-basis:calc((100% / 12)*2);
  }
  .col-lg-3 {
    max-width: calc((100% / 12)*3);
    flex-basis:calc((100% / 12)*3);
  }
  .col-lg-4 {
    max-width: calc((100% / 12)*4);
    flex-basis:calc((100% / 12)*4);
  }
  .col-lg-5 {
    max-width: calc((100% / 12)*5);
    flex-basis:calc((100% / 12)*5);
  }
  .col-lg-6 {
    max-width: calc((100% / 12)*6);
    flex-basis:calc((100% / 12)*6);
  }
  .col-lg-7 {
    max-width: calc((100% / 12)*7);
    flex-basis:calc((100% / 12)*7);
  }
  .col-lg-8 {
    max-width: calc((100% / 12)*8);
    flex-basis:calc((100% / 12)*8);
  }
  .col-lg-9 {
    max-width: calc((100% / 12)*9);
    flex-basis:calc((100% / 12)*9);
  }
  .col-lg-10 {
    max-width: calc((100% / 12)*10);
    flex-basis:calc((100% / 12)*10);
  }
  .col-lg-11 {
    max-width: calc((100% / 12)*11);
    flex-basis:calc((100% / 12)*11);
  }
  .col-lg-12 {
    max-width: calc((100% / 12)*12);
    flex-basis:calc((100% / 12)*12);
  }
}


@media screen and (min-width:1200px) {

  .container-sm {
    width: 1200px;
    max-width: 1200px;
    margin:0 auto;
  }


  .col-xl-1 {
    max-width: calc((100% / 12)*1);
    flex-basis:calc((100% / 12)*1);
  }
  .col-xl-2 {
    max-width: calc((100% / 12)*2);
    flex-basis:calc((100% / 12)*2);
  }
  .col-xl-3 {
    max-width: calc((100% / 12)*3);
    flex-basis:calc((100% / 12)*3);
  }
  .col-xl-4 {
    max-width: calc((100% / 12)*4);
    flex-basis:calc((100% / 12)*4);
  }
  .col-xl-5 {
    max-width: calc((100% / 12)*5);
    flex-basis:calc((100% / 12)*5);
  }
  .col-xl-6 {
    max-width: calc((100% / 12)*6);
    flex-basis:calc((100% / 12)*6);
  }
  .col-xl-7 {
    max-width: calc((100% / 12)*7);
    flex-basis:calc((100% / 12)*7);
  }
  .col-xl-8 {
    max-width: calc((100% / 12)*8);
    flex-basis:calc((100% / 12)*8);
  }
  .col-xl-9 {
    max-width: calc((100% / 12)*9);
    flex-basis:calc((100% / 12)*9);
  }
  .col-xl-10 {
    max-width: calc((100% / 12)*10);
    flex-basis:calc((100% / 12)*10);
  }
  .col-xl-11 {
    max-width: calc((100% / 12)*11);
    flex-basis:calc((100% / 12)*11);
  }
  .col-xl-12 {
    max-width: calc((100% / 12)*12);
    flex-basis:calc((100% / 12)*12);
  }
}

