* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

/* container */
.container-sm {
  width: 80%;
  max-width: 100%;
  margin:0 auto;
}

/* row */
.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

/* colonne e box */
.col {
  flex-grow:0;
  flex-basis: 0;
  max-width: 100%;
}



.box {
  min-height: 100px;
  background-color: pink;
  border:1px solid black;
  text-align: center;
  line-height: 100px;
}

#nest {
  background-color: #f07f80;
}