
header {
  margin: 0 auto;
}


header img {
  width: 100%;
  height: 400px;
}


.black {
  background-color: black;
}

.blue {
  background-color: #87c0ea;
}

.brown {
  background-color: #663300;
}

.yellow {
  background-color: #eef30c;
}